{% extends "compartidos/base.html" %}

{% block head %} 
<title>Productos La Reina </title>
{% endblock head %} 

{% block header %}

<header class="bg-dark py-5 vh-100 d-flex align-items-center">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Productos de La Reina</h1>
                    <div class="container mt-4">
                        <h1 class="mb-4">Resultados del Scraping</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>URL</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resultado in resultados %}
                                <tr>
                                    <td>{{ resultado.URL }}</td>
                                    <td>{{ resultado.Producto }}</td>
                                    <td>{{ resultado.Precio }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}