{% extends "compartidos/base.html" %}

{% block head %} 
<title>AHORRO MAX </title>
{% endblock head %} 
{% block header %}


<header class="bg-dark py-5 vh-100 d-flex align-items-center">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Busca tu producto</h1>
                    
                    <form method="GET" action="{% url 'busqueda' %}">
                        <input type="text" name="q" placeholder="Buscar productos...">
                        <button type="submit">Buscar</button>
                    </form>

                    <div class="container mt-4">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Supermercado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resultado in page_obj %}
                                <tr>
                                    <td><img src="{{ resultado.imagen }}" alt="Foto del producto" width="80" height="80"></td>
                                    <td>{{ resultado.descripcion }}</td>
                                    <td>{{ resultado.precio }}</td>
                                    <td>{{resultado.supermercado}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Paginación (falta mejorar)-->
                        {% include "paginacion.html" %} 
                     
                    </div>
                
                    


                </div>
            </div>
        </div>
    </div>
</header>
<body>
    

</body>

{% endblock header  %}