{% extends "compartidos/base.html" %}

{% block head %}
    <title>AHORRO MAX - Canasta Básica</title>
{% endblock head %}

{% block header %}
<script>
    function showAddProductForm() {
        const password = prompt("Ingrese la contraseña:");
        if (password === "admin") {
            document.getElementById("addProductForm").style.display = "block";
        } else {
            alert("Contraseña incorrecta");
        }
    }
</script>

<header class="bg-dark py-5 vh-100 d-flex align-items-center">
    <div class="container text-center text-white">
        <h1 class="display-5 fw-bolder mb-4">Productos de la Canasta Básica</h1>

        <div class="container text-center mb-4">
            <h2 class="mb-4">Lista de Productos</h2>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th class="text-white">Nombre</th>
                        <th class="text-white">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos_canasta %}
                    <tr>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.cantidad }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="text-center">No hay productos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
        <button class="btn btn-light mt-3" onclick="showAddProductForm()">Añadir Producto</button>

        <div id="addProductForm" class="mt-4" style="display:none;">
            <form method="POST" action="{% url 'add_producto' %}" class="mx-auto" style="max-width: 400px;">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="nombre" class="form-label fw-bold">Nombre del Producto:</label>
                    <input type="text" id="nombre" name="nombre" 
                           class="form-control" required minlength="2" maxlength="100" 
                           placeholder="Ingrese el nombre del producto">
                </div>

                <div class="mb-3">
                    <label for="cantidad" class="form-label fw-bold">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" 
                           class="form-control" required min="1" step="1" 
                           placeholder="Ingrese la cantidad"> 
                </div>

                <button type="submit" class="btn btn-success w-100">Añadir</button>
            </form>
        </div>
    </div>
</header>
{% endblock header %}
